<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BetaSuite" parallel="tests" thread-count="2" preserve-order="true">
    <listeners>
        <listener class-name="com.ramognee.orangehrms.generic.RetryListener"/>
    </listeners>
    <test verbose="2" name="Ramognee Automation">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.ramognee.orangehrms.scripts.LoginPageTest"/>
        </classes>
    </test>
</suite>